@{
    ViewData["Title"] = "Sign In";
}

<h1 class="">Sign In</h1>
<div class="text-center"> 
    <form class="form-group" method="post">
        <label class="form-control-sm" for="">Username</label><br />
        <input class="form-control-sm" name="" /><br />
        <input type="submit" value="Enter" />
    </form>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-header">
    Don't have an account?
    </div>
    <div class="card-body">
        <a class="nav-link" asp-action="SignUp">Sign Up</a>
    </div>
</div>
