@model GameSphere.Models.AppUser

<h1 class="text-center">Posts</h1>
@if (Model.Posts.Count <= 0)
{
    <div>
        They haven't posted anything yet
    </div>
}
@if (Model.Posts.Count > 0)
{
    @foreach (Post p in Model.Posts)
    {
        <div class="text-center">
            @ViewBag.user<text>: </text> @p.Message
        </div>
    }
}