
@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

<div class="text-center">
    <form class="form-group" method="post">
        <label class="form-control-sm" for="username">Username</label><br />
        <input class="form-control-sm" name="username" /><br />
        <input type="submit" value="Enter" />
    </form>
</div>