@model List<AppUser>
@{
    ViewData["Title"] = "UserList";
}

<h1 class="text-center">Users on Gamesphere</h1>


<div class="container text-black-50 text-center">
    <div class="row">
        @foreach (AppUser u in Model)
        {          
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-header">Username: @u.UserName</div>
                    <div class="card-body">                       
                            Post Count: @u.Posts.Count<br />
                        <a asp-action="ProfilePage" asp-route-title="@u.UserName">Profile</a>                            
                    </div>
                    <div>
                        <a asp-action="PostList" asp-route-title="@u.UserName">Posts</a>
                    </div>
                </div>
            </div>          
        }
    </div>
</div>
